@import "../dist/webkit-sassui-fieldset-divider.scss";
*{margin:0;padding:0;-webkit-margin-before:0;-webkit-margin-after:0;}
.test-webkit-sassui-fieldset-divider{
  width: 80%;
  margin: 20px auto;
  padding: 40px 20px;
  border:1px dashed dodgerblue;
  background: #fefefe;
  border-radius: 14px;


  center{
    margin: 20px auto;
    legend{
      color:#333;
      padding:0 10px;
    }
  }

  .pl{
    padding-left: 10px;
  }

  .pr{
    padding-right: 10px;
  }

  .px{
    @extend .pl,.pr;
  }
}
