/*webkit-sassui-fieldset-divider Start*/
.webkit-sassui-fieldset-divider {
  padding: 0;
  border: none;
  border-top: 1px solid;
}

.webkit-sassui-fieldset-divider[data-align=left] {
  text-align: left;
}

.webkit-sassui-fieldset-divider[data-align=center] {
  text-align: center;
}

.webkit-sassui-fieldset-divider[data-align=right] {
  text-align: right;
}

/*webkit-sassui-fieldset-divider End*/
* {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.test-webkit-sassui-fieldset-divider {
  width: 80%;
  margin: 20px auto;
  padding: 40px 20px;
  border: 1px dashed dodgerblue;
  background: #fefefe;
  border-radius: 14px;
}

.test-webkit-sassui-fieldset-divider center {
  margin: 20px auto;
}

.test-webkit-sassui-fieldset-divider center legend {
  color: #333;
  padding: 0 10px;
}

.test-webkit-sassui-fieldset-divider .pl, .test-webkit-sassui-fieldset-divider .px {
  padding-left: 10px;
}

.test-webkit-sassui-fieldset-divider .pr, .test-webkit-sassui-fieldset-divider .px {
  padding-right: 10px;
}
